{{ define "title" }}Pagination Example{{ end }}
{{ define "view" }}
<style>
    .controls {
        margin-top: 1rem;
    }
</style>
<div class="list">
    <p>Showing page {{.Page}}</p>
    {{range .Items}}
        <div>{{.}}</div>
    {{end}}
</div>
<div class="controls">
    <div>
        <a live-patch href="?page={{.NextPage}}">Next page via client patch</a>
    </div>
    <div>
        <button live-click="next-page" live-value-page="{{.NextPage}}">Next page via serverside patch</button>
    </div>
</div>
{{ end }}
